* {
    margin: 0;
    padding: 0;
}

.quest {
    font-family: 'Questrial', sans-serif;
}

.hammer {
    font-family: 'Hammersmith One', sans-serif;
}

.tange {
    font-family: 'Tangerine', cursive;
}

.mont {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85em;
}